<!DOCTYPE html>
<html language="{{ data.renderSettings.language }}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>TrelloExport - SWEPT</title>
<link rel="stylesheet" type="text/css" href="https://dev-d.fla-etat.org/est/style/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://dev-d.fla-etat.org/est/style/bootstrap-swept-theme.css"/>
<link rel="stylesheet" type="text/css" href="https://dev-d.fla-etat.org/est/style/swept.css"/>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body class="TrelloExport">
	<nav class="navbar navbar-swept navbar-fixed-top">
		<div class="navbar-accent" style="display: flex; align-items: center; justify-content: space-between;">
			<strong>TrelloExport > {% data.cards[0].organizationName %} > {% data.cards[0].boardName %}</strong>
		</div>		
    
      		<header class="container-fluid">
      			<div class="navbar-header">
	        	     <h1 class="navbar-brand">StateWide Environmental Project Tracker</h1>
			</div>
     		</header>
	</nav>

	<div class="container-fluid">
		<div class="row main-container">
			<div id="sidebar" class="hidden-md hidden-sm hidden-xs col-lg-2 sidebar collapse in">
				<div class="logo-container"><a href="Landing.do"><img src="/est/images/swept/swept.png" alt="SWEPT" /></a></div>
			</div>
			
			<div id="main-content" class="col-lg-10 col-lg-offset-2">
{% set organizationName = '' %}
{% set boardName = '' %}
{% set prevList = '' %}
{% for card in data.cards %}
     <!-- {% if card.boardName != boardName %}
        <h2>{{ card.organizationName }} &gt;&gt; {{ card.boardName }}</h2>
    {% endif %} -->
    {% set boardName = card.boardName %}
    {% set organizationName = card.organizationName %}
    {% set curList = card.listName %}
    {% if prevList != curList %}
        <h2>{{ curList }}</h2>
    {% endif %}
    {% set prevList = card.listName %}
    <div class="card">
        <h3><a href="{{ card.shortLink }}">{{ card.title }}</a></h3>        
        <div class="description">
            <h4>Description:</h4>
            <p class="text">{{ card.cardDescription }}</p>
        </div>
       
        {% if card.numberOfComments > 0 %}
        <div class="comments">
            <h4><i class="fa fa-comments"></i> Comments ({{ card.numberOfComments }}):</h4>
            {% for comment in card.jsonComments %}
            <div class="comment">
                <span class="label"><i class="far fa-comments"></i> {{ comment.date }} - {{ comment.memberCreator.fullName }}</span>
                <span class="text">{{ comment.text }}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
	
        {% if card.jsonCheckLists|length > 0 %}
        <div class="checklists">
            <h4><i class="fa fa-list-alt"></i> Checklists ({{ card.jsonCheckLists|length }}):</h4>
            {% for clist in card.jsonCheckLists %}
            <div class="checklist">
                <span class="label"><i class="fa fa-list"></i> {{ clist.name }} ({{ clist.items|length }} items)</span>
                <ul>
                {% for item in clist.items %}
                <li>{{ item.name }} <span class="completed">{% if item.completed%}<i class="far fa-check-square"></i> {% if item.completedBy %}{{ item.completedBy }}, {% endif %}{{ item.completedDate }}{% else %}<i class="far fa-square"></i>{% endif %}</span></li>
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
    </div>
{% endfor %}
		</div>
	</div>
	<footer class="well well-lg">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-2">
				<a href="http://www.fdot.gov/"><img src="/est/images/swept/FDOT_Logo_color_transparent.png" alt="Florida Department of Transporation Logo" /></a>
				<p><strong>Copyright &copy;2018 Florida Department of Transportation All Rights Reserved</strong><br />
				<small>For additional information, please e-mail questions or comments to Florida Department of Transportation Office of Environmental Management (OEM) <a href="mailto:swept@fla-etat.org">swept@fla-etat.org</a> or call <a href="tel: 8504145334">850-414-5334</a></small>.
			</div>
		</div>
	</footer>
</body>
</html>
